In [1]:
import pandas as pd
import numpy as np

Finding missing Data

In [6]:

data = {
    "A": [10, 20, np.nan, 40],
    "B": [np.nan, 25, 35, 45],
    "C": [15, np.nan, 30, np.nan],
    "D": [np.nan, 22, 32, 42]
}


df = pd.DataFrame(data)
df

      A     B     C     D
0  10.0   NaN  15.0   NaN
1  20.0  25.0   NaN  22.0
2   NaN  35.0  30.0  32.0
3  40.0  45.0   NaN  42.0

In [8]:
#finding nan value
df.isna()

       A      B      C      D
0  False   True  False   True
1  False  False   True  False
2   True  False  False  False
3  False  False   True  False

In [7]:
#To find total Nan value
df.isna().sum()

A    1
B    1
C    2
D    1
dtype: int64

In [9]:
# Checks for NaN values in the DataFrame
# Returns True for columns that contain at least one NaN value
df.isna().any()

A    True
B    True
C    True
D    True
dtype: bool

In [11]:
# Checks for NaN values row-wise
# Returns True for rows that contain at least one NaN value
df.isna().any(axis=1)

0    True
1    True
2    True
3    True
dtype: bool