In [2]:
import pandas as pd
import numpy as np

**Groupby**

In [4]:
data = {
    "category": [
        "Electronics", "Electronics", "Clothing", "Clothing",
        "Grocery", "Grocery", "Electronics", "Clothing",
        "Grocery", "Electronics", "Clothing", "Grocery"
    ],
    "store": [
        "Store A", "Store B", "Store A", "Store C",
        "Store B", "Store A", "Store A", "Store B",
        "Store C", "Store C", "Store A", "Store B"
    ],
    "sales": [
        1200, 800, 150, 300,
        90, 60, 600, 200,
        120, 1500, 100, 75
    ],
    "quantity": [
        2, 1, 3, 5,
        10, 8, 1, 4,
        12, 3, 2, 7
    ],
    "date": [
        "2024-01-01", "2024-01-01", "2024-01-01", "2024-01-02",
        "2024-01-02", "2024-01-02", "2024-01-03", "2024-01-03",
        "2024-01-03", "2024-01-04", "2024-01-04", "2024-01-04"
    ]
}

df= pd.DataFrame(data)
df

       category    store  sales  quantity        date
0   Electronics  Store A   1200         2  2024-01-01
1   Electronics  Store B    800         1  2024-01-01
2      Clothing  Store A    150         3  2024-01-01
3      Clothing  Store C    300         5  2024-01-02
4       Grocery  Store B     90        10  2024-01-02
5       Grocery  Store A     60         8  2024-01-02
6   Electronics  Store A    600         1  2024-01-03
7      Clothing  Store B    200         4  2024-01-03
8       Grocery  Store C    120        12  2024-01-03
9   Electronics  Store C   1500         3  2024-01-04
10     Clothing  Store A    100         2  2024-01-04
11      Grocery  Store B     75         7  2024-01-04

In [6]:
# Group by category and sum sales
df.groupby("category")["sales"].sum()

category
Clothing        750
Electronics    4100
Grocery         345
Name: sales, dtype: int64

In [7]:
# Group by store and sum sales
df.groupby("store")["sales"].sum()

store
Store A    2110
Store B    1165
Store C    1920
Name: sales, dtype: int64

In [8]:
#group by multiple columns 
#Group by store and category and sum sales
df.groupby(["category", "store"])["sales"].sum()

category     store
Clothing     Store A     250
             Store B     200
             Store C     300
Electronics  Store A    1800
             Store B     800
             Store C    1500
Grocery      Store A      60
             Store B     165
             Store C     120
Name: sales, dtype: int64

**Aggregation**

In [10]:
# Calculate the average (mean) of sales
df["sales"].mean()

# Find the maximum sales value
df["sales"].max()

# Find the minimum sales value
df["sales"].min()

# Calculate the total sales
df["sales"].sum()

# Count the number of sales records
df["sales"].count()

np.int64(12)